@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
  scroll-behavior: smooth;
}

body{
  font-family: 'Inter', sans-serif;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}
.swiper-button-next{
  bottom: 0 !important;
  top: auto !important;
  right: 8px !important;
  left: auto !important;
}
.swiper-button-prev{
  bottom: 0 !important;
  top: auto !important;
  right: 70px !important;
  left: auto !important;
}
.swiper-button-next:after{
  content: '→' !important;
}
.swiper-button-prev:after{
  content: '←' !important;
}
a:hover::after{
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.language-drop {
  top: calc(100% + 10px);
  left: 50%;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  border-radius: 6px;
  transform: translate(-50%, 0);
  box-shadow: 0 3px 30px 0 rgba(67, 65, 79, .1);
  z-index: 60;
}
.language-drop::before{
  content: '';
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  position: absolute;
}
.language-drop ul li a{
  padding: 10px 20px;
  font-size: .9em;
  font-weight: 700;
  color: #adadad;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.language-drop ul li a:hover{
  color: #005b88;
}
.language:hover .language-drop{
  opacity: 1;
  visibility: visible;
}
.heading-bottom.icon{
  position: absolute;
  top: 0;
  left: 50%;
  width: 106%;
  height: 100%;
  transform: translate(-50%);
  overflow: visible;
}
.heading-bottom svg{
  bottom: 0%;
}
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.whatsapp-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.whatsapp-icon svg {
  width: 40px;
  height: 40px;
}
.seofy-module-time-line-vertical::before{
  content: '';
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 2px;
  left: 50%;
  top: 0;
  margin-left: -1px;
  background: -webkit-linear-gradient(top, transparent 0%, rgba(63, 71, 103, 0.15) 100px, rgba(63, 71, 103, 0.15) calc(100% - 100px), transparent 100%);
}
.seofy-module-time-line-vertical .time-line-date-wrap{
  position: relative;
  z-index: 1;
}
.seofy-module-time-line-vertical.appear-anim .time-line-item .seofy-hexagon{
  opacity: 0;
}
.seofy-module-time-line-vertical .time-line-item.item-show .seofy-hexagon, 
.seofy-module-time-line-vertical .time-line-item.item-show:nth-child(even) 
.seofy-hexagon{
  opacity: 1;
}
.seofy-module-time-line-vertical .seofy-hexagon:first-child{
  position: relative;
  z-index: 0;
}
.seofy-module-time-line-vertical .seofy-hexagon{
  height: 22px;
  width: 20px;
  transition: opacity 0.8s;
}
.seofy-hexagon{
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.seofy-hexagon svg{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.seofy-module-time-line-vertical .seofy-hexagon:nth-child(2) svg{
  fill: #fff !important;
}
#time-line-61e98642bf2e11 .time-line-date{
  color: #ffa705;
}
#time-line-61e98642bf36d2 .time-line-date{
  color: #ff5600;
}
#time-line-61e98642bf3a83 .time-line-date{
  color: #69e9f2;
}
#time-line-61e98642bf3f44 .time-line-date{
  color: #12affe;
}
#time-line-61e98642bf4295 .time-line-date{
  color: #3224e9;
}

.seofy-module-time-line-vertical .time-line-item.item-show .time-line-date,
.seofy-module-time-line-vertical .time-line-item.item-show:nth-child(even)
.time-line-date{
  opacity: 1;
  transform: translateX(0);
}
.seofy-module-time-line-vertical .time-line-date{
  z-index: 1;
  top: 0;
  right: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  white-space: nowrap;
  transition: 0.3s;
}
.seofy-module-time-line-vertical .time-line-content{
  position: relative;
  padding: 23px 30px;
  width: 100%;
  max-width: 345px;
  box-shadow: 7px 5px 30px 0 rgb(72 73 121 / 15%);
  border-radius: 4px;
  background: #ffffff;
  overflow: hidden;
  transition: 0.4s;
}
.seofy-module-time-line-vertical.appear-anim .time-line-item .time-line-content{
  transform: translateX(20%);
  opacity: 0;
}
.seofy-module-time-line-vertical .time-line-item.item-show .time-line-content, 
.seofy-module-time-line-vertical .time-line-item.item-show:nth-child(even) 
.time-line-content{
  opacity: 1;
  transform: translateX(0);
}
#time-line-1 .time-line-content:before{
  background:#ffa705;
}
#time-line-2 .time-line-content:before{
  background: #ff5600;
}
#time-line-3 .time-line-content:before{
  background: #69e9f2;
}
#time-line-4 .time-line-content:before{
  background: #12affe;
}
#time-line-5 .time-line-content:before{
  background: #3224e9;
}
#time-line-6 .time-line-content:before{
  background: #84cc16;
}
.seofy-module-time-line-vertical .time-line-content:before{
  content: '';
  position: absolute;
  z-index: 1;
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}
.seofy-module-time-line-vertical .time-line-title
{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}
.seofy-module-time-line-vertical .time-line-descr{
  line-height: 24px;
}
.seofy-module-time-line-vertical .company-time-line-item{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  transition: opacity 0.5s;
}


.seofy-module-time-line-vertical .company-time-line-item:nth-child(even) .time-line-date{
  right: auto;
  left: 100%;
}
.seofy-module-time-line-vertical .company-time-line-item:hover .seofy-hexagon:nth-child(2){
  animation: pulse-hexagon 2s infinite;
}
.seofy-module-time-line-vertical .company-time-line-item:hover .time-line-content{
  transform: translateX(5px);
  background: white;
}
.seofy-module-time-line-vertical .company-time-line-item:hover .time-line-date{
  transform: translate(-5px)
}
.seofy-module-time-line-vertical .company-time-line-item:hover:nth-child(even) .time-line-content{
  transform: translate(-5px)
}
.seofy-module-time-line-vertical .company-time-line-item:hover:nth-child(even) .time-line-date{
  transform: translate(5px)
}
@media only screen and (min-width: 768px) {
  .seofy-module-time-line-vertical .time-line-date-wrap{
    margin-left: calc( 50% - 10px);
    margin-right: 50px;
  }
  .seofy-module-time-line-vertical .company-time-line-item:nth-child(even){
    flex-direction: row-reverse;
   }
  .seofy-module-time-line-vertical .company-time-line-item:nth-child(even) .time-line-date-wrap{
    margin-right: calc( 50% - 10px);
    margin-left: 50px;
  }
  .seofy-module-time-line-vertical .company-time-line-item:nth-child(even) .time-line-date{
    padding-left: 50px;
    padding-right: 0;
  }
}

.cta-number{
  font-size: 72px;
  background: -webkit-linear-gradient(#ffffff, #20b1dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cta-number:hover{
  background: -webkit-linear-gradient(#ffffff,#ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}